extends layout

block content
  img.logo(src="/images/IBWO.svg")
    
  h1= title
  p Four frames is enough for me
  img(src="/images/ibwo.jpg", alt="picture of ivory-billed-woodpecker")
  p Stay tuned for disclosure
  
